#masthead {
    margin-top: 60px;
}

div#terminal {
	background: #fefbf3;
	padding: 9px;
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	font-family: Monaco,Andale Mono,Courier New,monospace;
	height: 400px;
	overflow: auto;
	font-size: 12px;
}

div#terminal p {
	margin-bottom: 3px;
    margin-top: 3px;
	font-size: 12px;
}

#terminal input {
    font-family: Monaco,Andale Mono,Courier New,monospace;
    background: none repeat scroll 0 0 #fefbf3;
    border: medium none;
    display: inline;
    font-size: 100%;
    padding: 2px;
    width: 870px;
    box-shadow: none;
}

#terminal pre {
	background-color: transparent;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    border: none;
    border-radius: none;
	margin: 0;
	padding: 0;
}

pre.prettyprint {
    background: none repeat scroll 0 0 #FEFBF3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px;
}